head
    title Collider
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')

template(name='cloud')
    #cloud.ui.segment
        if currentUser
            #add_doc.ui.icon.button(class=add_button_class)
                i.plus.icon
        +loginButtons
        if selected_tags
            #clear_tags.ui.primary.icon.button
                i.remove.icon
            each selected_tags
                .unselect_tag.ui.primary.button
                    strong #{this}
        each all_tags
            .ui.button.select_tag(class=cloud_tag_class) #{this.name}
                // small (#{this.count})



template(name='layout')
    +Template.dynamic template=main


template(name='docs')
    +cloud
    .ui.container
        .ui.centered.cards
            each docs
                +view


template(name='view')
    .ui.fluid.card
        .content
            each tags
                .ui.button.doc_tag(class=doc_tag_class) #{this}
        .content
            |!{body}
        .content
            if is_author
                .edit_doc.ui.basic.button
                    i.pencil.icon
                    |Edit
                    
                    
                    
template(name='edit')
    with doc
        .ui.container.segment
            each tags
                .ui.button.doc_tag
                    i.minus.icon
                    |#{this}
            .ui.left.icon.input
                i.add.icon
                input#add_tag(type='text' autofocus='' placeholder='Add Tag' maxlength='50')
            textarea#body
                |#{body}
            if tags
                #save_doc.ui.large.green.button Save
            #delete_doc.ui.red.large.button Delete
                    
