template(name='voting')
    .vote_up.ui.icon.basic.button(class=vote_up_button_class)
        i.thumbs.up.icon(class=vote_up_icon_class)
    .ui.basic.label Points: #{points}
    .vote_down.ui.icon.basic.button(class=vote_down_button_class)
        i.thumbs.down.icon(class=vote_down_icon_class)
