template(name='docs')
    .ui.container
        .ui.stackable.centered.cards
            each docs
                +view_doc
                // +insta_doc

template(name='view_doc')
    .ui.fluid.card
        .content
            each tags
                .ui.button.doc_tag(class=doc_tag_class) #{this}
        each components
            .content
                +Template.dynamic(template=template_name)
        // .ui.header #{title}
        // .description #{description}
        // .location #{location}
        // .tags 
        //     each tags
        //         .ui.label #{this}
        // .meta #{field}
        // .meta #{applicant_inclusion}
        .content
            +like
            +voting
            if is_author
                .edit_doc.ui.basic.button
                    i.pencil.icon
                    |Edit
            // +comments
            h3.ui.dividing.header
            i.comments.icon 
            |#{comment_count} Comments
            
        
template(name='insta_doc')
    .ui.fluid.card
        .content
            .header #{title}
            .right.floated.meta #{when}
            .meta
                each tags
                    .ui.basic.label #{this}
            // img.ui.avatar.image(src='/images/avatar/large/#{author.avatar}')
            +avatar user=author shape="circle" size="extra-small" 
            | #{author.username}
        .image
            img(src='#{image}')
        .content
            +price
        .content
            +description
        .content
            span.right.floated
                +like
            .extra.content
                +voting
        .extra.content
            // .ui.large.transparent.left.icon.input
                // hook up to profile page favorites
                // i.heart.outline.icon
                // input(type='text', placeholder='Add Comment...')
        if is_author
            .edit_doc.ui.basic.button
                i.pencil.icon
                |Edit
            +comments
        