template(name='edit_job')
    with job
        .ui.segment
            .ui.form
                .required.field
                    label Title
                    input#title(type='text' name='title' placeholder='Title' value=title)
                .inline.field
                    label Type of Job
                    .ui.button.tag_suggestion(class=tag_suggestion_class(val='contract')) Contract
                    .ui.button.tag_suggestion(class=tag_suggestion_class(val='freelance')) Freelance
                    .ui.button.tag_suggestion(class=tag_suggestion_class(val='part-time')) Part-time
                    .ui.button.tag_suggestion(class=tag_suggestion_class(val='full-time')) Full-time
                    .ui.button.tag_suggestion(class=tag_suggestion_class(val='internship')) Internship
                .field
                    label Image
                    input#image(type='url' name='job_image' placeholder='Image Link' value=image)
                .field
                    label Description
                    textarea#description(rows='5') #{description}
                .inline.field
                    label Location
                    .ui.button.tag_suggestion(class=tag_suggestion_class(val='remote')) Remote
                    .ui.button.tag_suggestion(class=tag_suggestion_class(val='flexible')) Flexible
                    .ui.button.tag_suggestion(class=tag_suggestion_class(val='on site')) On Site

                .ui.segment    
                    .inline.field
                        label Field of Work
                        .ui
                            if selected_field_of_work_tags
                                #clear_field_of_work_tags.ui.large.compact.primary.icon.button
                                    i.remove.icon
                                each selected_field_of_work_tags
                                    .ui.compact.large.primary.button.unselect_field_of_work_tag
                                        strong #{this}
                            each field_of_work_cloud 
                                .ui.compact.basic.button.select_field_of_work_tag #{name}
                    .inline.field
                        label Add/Search
                        .ui.input
                            +inputAutocomplete settings=settings id="add_field_of_work_tag" class="" autocomplete="off" placeholder='Select/Type Type'
                
                .inline.field
                    label Extras required?
                    .ui.button.tag_suggestion(class=tag_suggestion_class(val='quote')) Quote
                    .ui.button.tag_suggestion(class=tag_suggestion_class(val='estimated timeline')) Estimated timeline
                    .ui.button.tag_suggestion(class=tag_suggestion_class(val='relevant experience')) Relevant experience
                .field
                    .ui.header Tags
                    each tags
                        .ui.basic.button.job_tag
                            i.minus.icon
                            |#{this}
                    .ui.left.icon.input
                        i.add.icon
                        input#add_job_tag(type='text' autofocus='' placeholder='Add Tag' maxlength='50')
                if title
                    #save_job.ui.animated.large.green.button
                        .visible.content Save
                        .hidden.content
                            i.right.check.icon
                #delete_job.ui.animated.red.large.button
                        .hidden.content 
                            i.remove.icon
                        .visible.content Delete