template(name='feed')
    .ui.form
        .field
            textarea#post_area(rows='2' placeholder='Add a Post...')
            #add_post.ui.basic.button
                i.plus.icon
                |Add Post
    h1.ui.header Posts
    +post_cloud
    .ui.container
        .ui.divided.items
            each posts
                if is_editing
                    +edit_post
                else
                    +view_post

template(name='post_cloud')
    #cloud.ui.center.aligned.basic.fluid.segment
        if selected_post_tags
            #clear_post_tags.ui.large.compact.primary.icon.button
                i.remove.icon
            each selected_post_tags
                .ui.compact.large.primary.button.unselect_post_tag
                    strong #{this}
        each all_post_tags
            .ui.compact.basic.button.select_post_tag(class=cloud_tag_class) #{this.name}
                small #{this.count}
        .ui.hidden.fitted.divider
        
template(name='view_post')
    .ui.item
        .content
            .header
                each post_tags
                    .ui.small.compact.button(class=job_tag_class) #{this}
            .text #{text}
            if is_author
                .edit_post.ui.basic.button
                    i.pencil.icon
                    |Edit

template(name='edit_post')
    .ui.item
        .content
            .meta
                each post_tags
                    .ui.small.compact.button(class=job_tag_class) #{this}
                .ui.left.icon.input
                    i.add.icon
                    input#add_post_tag(type='text' autofocus='' placeholder='Add Post Tag' maxlength='50')
            .ui.form
                .field
                    textarea.post_text(rows='2') #{text}
            .save_post.ui.green.button
                i.check.icon
                |Save