template(name='feed')
    h1.ui.center.aligned.header Posts
    .ui.form
        .field
            textarea#post_area(rows='2' placeholder='Add a Post...')
            #add_post.ui.basic.button
                i.plus.icon
                |Add Post
    +cloud filter='post'
    .ui.container
        .ui.divided.items
            each posts
                if is_editing
                    +edit_post
                else
                    +view_post


template(name='view_post')
    .ui.item
        .content
            .header
                each post_tags
                    .ui.small.compact.button(class=job_tag_class) #{this}
            .text #{text}
            if is_author
                .edit_post.ui.basic.button
                    i.pencil.icon
                    |Edit

template(name='edit_post')
    .ui.item
        .content
            .meta
                each post_tags
                    .ui.small.compact.button(class=job_tag_class) #{this}
                .ui.left.icon.input
                    i.add.icon
                    input#add_post_tag(type='text' autofocus='' placeholder='Add Post Tag' maxlength='50')
            .ui.form
                .field
                    textarea.post_text(rows='2') #{text}
            .save_post.ui.green.button
                i.check.icon
                |Save