template(name='profile')
    .row
        .twelve.columns
            .profile
                with user
                    +avatar(user=user size='extra-large' shape='circle' class='avatar-center')
                h1.text-center.username
                    | @#{user.username}
                    span.fa.text-center(class='{{#if user.status.online}} fa-circle presence online {{else}} fa-circle-o presence offline {{/if}}')
                #socialMediaAccounts
                p.text-center #{simpleFormat user.biography}
                .text-center
                    +followButton(user=this)
                hr
                each posts
                    +post post=this
                    if Template.subscriptionsReady
                        unless instance.userPostsCount.get
                            .alert.info The user has not posted anything yet
                        if hasMorePosts
                            button.u-full-width(data-id='load-more') Load more
                    else
                        .text-center Loading posts...
