template(name='edit')
    with doc
        .ui.raised.very.padded.text.container.segment
            .ui.form
                .field
                    label Title
                    input#title(type='text' placeholder='Add Title' value=title)
                .field
                    label Image
                    input#img_url(type='text' placeholder='Add image url' value=img_url)
                .field
                    label Tags
                    each hub_doc_tags
                        .ui.basic.button.docTag
                            i.minus.icon
                            |#{this}
                    .ui.left.icon.four.wide.input
                        i.add.icon
                        input#addTag(type='text' autofocus='' placeholder='Add Tag' maxlength='50')
                .inline.field
                    label Add Address
                    // i.map.icon
                    input#place(type='text' value=locationob.formatted_address)
                    .ui.basic.button.clearAddress Clear
                // .inline.field
                //     label Add Date/Time
                //     // i.calendar.outline.icon
                //     // .ui.left.icon.input
                //     input#datetimepicker(type="text" value=dateTime)
                //     .ui.basic.button.clearDT Clear
                .field
                    label Description
                    textarea#body(maxlength='2000')
                        |#{body}
                .field
                    label Price
                    input#price(type='number' min='0' max='10000' value=price)
            .ui.divider
            #saveDoc.ui.large.green.basic.button
                i.check.icon
                |Save
            #delete.ui.red.small.compact.basic.button
                i.remove.icon
                |Delete
        .ui.modal
            .header Confirm Delete
            .content
                .meta Confirm?
            .actions
                .ui.button.cancel Cancel
                .ui.red.button.approve Delete
