template(name='docs')
    +cloud
    .ui.container
        // .ui.center.aligned.header Top Doc:
        .ui.centered.cards
            each docs
                +view

template(name='view')
    .ui.card(class=doc_card_class)
        .image
            img.ui.image(src=img_url)
        .content
            .header
                if is_in_academy
                    i.yellow.university.icon
                if is_in_economy
                    i.green.cart.icon
                |#{title}
        .content
            each hub_tags
                .ui.compact.button.doc_tag(class=doc_tag_class)  #{this}
        .content
            .description
                +markdown
                    !{body}
        .extra.content
            span by #{author.username} #{when}
            if currentUser
                if isAuthor
                    .ui.basic.compact.button.editDoc
                        i.blue.pencil.icon
                        |Edit
                else
                    .ui.basic.button
                        i.bitcoin.icon
                        | Tip
        .extra.content
            span.left.floated.like
                i.like.icon
                | Like
            span.right.floated.star
                i.dollar.icon
                | #{price}
