template(name='cloud')
    .ui.center.aligned.basic.segment
        if selected_tags
            if currentUser
                #bookmarkSelection.ui.basic.icon.circular.button
                    i.bookmark.icon
        if selected_tags
            #clearTags.ui.big.compact.circular.primary.icon.button
                i.remove.icon
            each selected_tags
                .ui.compact.big.button.unselectTag(class=selected_tag_class)
                    strong #{this}
        each globalTags
            .ui.compact.basic.button.selectTag(class=globalTagClass) #{this.name}
                small #{this.count}
        if can_view_more
            div
                #view_more.ui.basic.button
                    i.plus.icon
                    |More
        if can_view_less
            div
                #view_less.ui.basic.button
                    i.minus.icon
                    |Less