template(name='cloud')
    #cloud.ui.center.aligned.basic.segment
        if selected_tags
            if currentUser
                #bookmarkSelection.ui.basic.icon.circular.button
                    i.bookmark.icon
        if selected_tags
            #clearTags.ui.big.compact.circular.primary.icon.button
                i.remove.icon
            each selected_tags
                .ui.compact.big.button.unselectTag(class=selected_tag_class)
                    strong #{this}
        each all_tags
            .ui.compact.basic.button.selectTag(class=globalTagClass) #{this.name}
                small #{this.count}
        if can_view_more
            #view_more.ui.compact.black.basic.button
                i.plus.icon
                |More...
        if can_view_less
            #view_less.ui.compact.black.basic.button
                i.minus.icon
                |Less...
        .ui.hidden.fitted.divider
        if selected_authors
            #clear_authors.ui.circular.primary.icon.button
                i.remove.icon
            each selected_authors
                a.ui.primary.circular.button.unselect_author
                    i.user.icon
                    strong #{selected_username_view}
        each all_authors
            .ui.basic.circular.button.select_author
                i.user.icon
                |#{username_view}
                small #{this.count}
