template(name='cloud')
    .ui.center.aligned.basic.segment
        if selectedTags
            #clearTags.ui.big.compact.circular.primary.icon.button
                i.remove.icon
            each selectedTags
                a.ui.compact.primary.big.button.unselectTag
                    strong #{this}
        each globalTags
            .ui.compact.basic.button.selectTag(class=globalTagClass) #{this.name}
        div
            #view_more.ui.basic.button
                i.plus.icon
                |View More
            // .ui.compact.basic.button.selectTag #{this.name}
                small #{this.count}
