template(name='docs')
    +cloud
    .ui.container
        // .ui.center.aligned.header Top Doc:
        .ui.cards
            each docs
                +view

template(name='view')
    .ui.fluid.card
        .content
            .header
                each hub_tags
                    .ui.compact.button.doc_tag(class=doc_tag_class)  #{this}
            .description
                +markdown
                    !{body}
        .extra.content
            span by #{author.username} #{when}
            if currentUser
                if isAuthor
                    .ui.basic.compact.button.editDoc
                        i.blue.pencil.icon
                        |Edit
                    .ui.icon.basic.compact.button.deleteDoc
                        // |Delete
                        i.red.trash.icon
                else
                    .ui.basic.button
                        i.bitcoin.icon
                        | Tip
        //     if currentUser
        //         unless isAuthor
        //             p Common interests with #{author.username} (Match Points: #{upVotedMatchCloud.totalCount})
        //             div
        //                 each upVotedMatchCloud.cloud
        //                     .ui.basic.label #{this.tag} #{this.min}
        // .extra.content
        //     .select_user.ui.button(class=select_user_button_class)
        //         i.user.icon
        //         |View Docs by #{author.username}
        //     |#{author.username}'s Authored Tags
        //     each author.authored_cloud
        //         .ui.small.label(class=cloud_label_class)
        //             |#{this.name}
        //             small #{this.count}
