template(name='small_card')
    .ui.card(class=doc_card_class)
        if img_url
            .blurring.dimmable.image
                .ui.dimmer
                    .content
                        .center
                            .ui.inverted.icon.button.make_big
                                i.expand.icon
                img.ui.image(src=img_url)
        .content
            a.header.make_big
                if is_in_academy
                    i.yellow.university.icon
                if is_in_economy
                    i.green.cart.icon
                |#{title}
        .content
            each clipped_hub_tags
                .ui.compact.button.doc_tag(class=doc_tag_class)  #{this}
        .extra.content
            | by &nbsp;
            .ui.circular.button.select_author(class=select_author_button_class)
                i.user.icon
                |#{author.username}
            | &nbsp; #{when}
        .extra.content
            a.view_comments Comment Count: #{comment_count}
        if currentUser
            if isAuthor
                .extra.content
                    .ui.basic.compact.button.editDoc
                        i.blue.pencil.icon
                        |Edit
        .extra.content
            if price
                span.right.floated
                    .ui.mini.statistic
                        .value
                            i.dollar.icon
                            | #{price}
            a.left.floated.unlike
                i.empty.heart.large.icon
            .center.aligned
                .ui.circular.icon.button.vote_up(class=vote_up_button_class)
                    i.thumbs.up.outline.icon
                span #{points}
                .ui.circular.icon.button.vote_down(class=vote_down_button_class)
                    i.thumbs.down.outline.icon
        .ui.modal(class=this._id)
            .content
                if is_editing
                    +edit
                else
                    +big_card