template(name='smallProfile')
    .small-profile
        a(href="{{pathFor 'profile' _id=this.user._id}}")
            +avatar(user=this.user size='small' shape='circle' class='u-pull-left')
        a.u-pull-left(href="{{pathFor 'profile' _id=this.user._id}}") @{{this.user.username}}
        span.fa(class='{{#if this.user.status.online}} fa-circle presence online {{else}} fa-circle-o presence offline{{/if}}')
        .float.right
            +messageButton user=this.user
        .tags
            each this.user.tags
                | #{this} &nbsp;
        ul
            strong Other's Tags
                each tagCloud
                    a(href='#' class=userTagClass)
                        |#{this.name}
                        small #{this.count}

        unless isUser
            if currentUser
                .extra.content
                    if hasTagged
                        p My Tags
                        each myTags
                            .ui.basic.compact.button.removeMyTag
                                i.remove.icon
                                |#{this}
                        .ui.left.icon.input
                            i.tag.icon
                            input.addTag(type='text' placeholder='Add Tag')
                    else
                        a(href='#').tagUser Describe Person
        .clear
