template(name='events')
    h1.ui.header events
    #add_event.ui.big.basic.button
        i.green.plus.icon
        |Add Event
    +event_cloud
    .ui.container
        each events
            +view_event

template(name='event_cloud')
    #cloud.ui.center.aligned.basic.fluid.segment
        if selected_event_tags
            #clear_event_tags.ui.large.compact.primary.icon.button
                i.remove.icon
            each selected_event_tags
                .ui.compact.large.primary.button.unselect_event_tag
                    strong #{this}
        each all_event_tags
            .ui.compact.basic.button.select_event_tag(class=cloud_tag_class) #{this.name}
                small #{this.count}
        .ui.hidden.fitted.divider
        
template(name='view_event')
    .ui.segment
        .ui.header #{title}
        .description #{description}
        .location #{location}
        .tags 
            each tags
                .ui.label #{this}
        .meta #{field}
        .meta #{applicant_inclusion}
        if is_author
            .edit_event.ui.basic.button
                i.pencil.icon
                |Edit