template(name='profile')
    .ui.container
        .ui.segment
            .ui.form
                .inline.field
                    label Your Name
                    input#username(type='text' value=currentUser.username)
                // .ui.left.icon.input
                    // i.user.icon
                .inline.field 
                    label Contact Info (only shown to friends)
                    input#contact(type='text' value=currentUser.contact)
                // .ui.input
                .inline.field
                    label Your Tags
                    each currentUser.tags
                        .ui.small.compact.button.tag
                            i.remove.icon
                            |#{this}
                    .ui.left.icon.input
                        i.add.icon
                        +inputAutocomplete settings=settings id="add_tag" class="" autocomplete="off" placeholder='Add Tag'
                        // input#add_tag(type='text' autofocus='' placeholder='Enter Tag')
            .ui.divider
            .ui.header Top Matches
            each user_matches
                strong #{matched_user} #{length}
                each tag_intersection
                    .ui.basic.label #{this}      
                .ui.fitted.hidden.divider

