template(name='profile')
    if is_editing_profile
        +edit_profile
    else
        +view_profile
    +profile_cloud


template(name='edit_profile')
    .ui.container.segment
        with currentUser
            .ui.center.aligned.basic.segment
                +avatar user=this shape="circle" size="extra-large" 
            .ui.form
                .inline.field
                    label Your Name
                    input#username(type='text' value=username)
                // .ui.left.icon.input
                    // i.user.icon
                .inline.field 
                    label Contact Info (only shown to friends)
                    input#contact(type='text' value=contact)
                .field 
                    label Description
                    textarea#user_description(rows='5') #{description}
                // .ui.input
                .inline.field
                    label Your Tags
                    each profile.tags
                        .ui.small.compact.button.profile_tag
                            i.remove.icon
                            |#{this}
                    .ui.left.icon.input
                        i.add.icon
                        +inputAutocomplete settings=settings id="add_profile_tag" class="" autocomplete="off" placeholder='Add Tag'
                        // input#add_tag(type='text' autofocus='' placeholder='Enter Tag')
            .ui.divider
            .ui.header Top Matches
            each user_matches
                strong #{matched_user} #{length}
                each tag_intersection
                    .ui.basic.label #{this}      
                .ui.fitted.hidden.divider
        #save_profile.ui.green.button Save Profile    

template(name='view_profile')
    with currentUser
        h1.ui.header #{username}
        if is_author
            #edit_profile.ui.button
                i.pencil.icon
                |Edit Profile
        each profile.tags
            .ui.label #{this}