template(name='jobs')
    h1.ui.header Jobs
        #add_job.ui.compact.basic.button
            i.green.plus.icon
            |Add Job
    +job_cloud
    .ui.container
        .ui.divided.items
            each jobs
                +view_job

template(name='job_cloud')
    #cloud.ui.center.aligned.basic.fluid.segment
        if selected_job_tags
            #clear_job_tags.ui.large.compact.primary.icon.button
                i.remove.icon
            each selected_job_tags
                .ui.compact.large.primary.button.unselect_job_tag
                    strong #{this}
        each all_job_tags
            .ui.compact.basic.button.select_job_tag(class=cloud_tag_class) #{this.name}
                small #{this.count}
        .ui.hidden.fitted.divider
        
template(name='view_job')
    .ui.item
        .content
            .header #{title}
            .meta
                each tags
                    .ui.small.compact.button(class=job_tag_class) #{this}
            .description #{description}
            .location #{location}
            .meta #{field}
            .meta #{applicant_inclusion}
            if is_author
                .edit_job.ui.basic.button
                    i.pencil.icon
                    |Edit