template(name='jobs')
    h1.ui.center.aligned.header Jobs
        #add_job.ui.compact.basic.button
            i.green.plus.icon
            |Add Job
    +job_cloud
    .ui.container
        .ui.divided.items
            each jobs
                .ui.segment
                    +view_job

        
template(name='view_job')
    .ui.item
        .content
            .header #{title}
            .meta
                each tags
                    .ui.small.compact.button(class=job_tag_class) #{this}
            .description #{description}
            .location #{location}
            .meta #{field}
            .meta #{applicant_inclusion}
            if is_author
                .edit_job.ui.basic.button
                    i.pencil.icon
                    |Edit
        .ui.divider
        +comments