template(name='jobs')
    h1.ui.header Jobs
    #add_job.ui.big.basic.button
        i.green.plus.icon
        |Add Job
    +job_cloud
    .ui.container
        each jobs
            +view_job

template(name='job_cloud')
    #cloud.ui.center.aligned.basic.fluid.segment
        if selected_job_tags
            #clearTags.ui.large.compact.primary.icon.button
                i.remove.icon
            each selected_job_tags
                .ui.compact.large.primary.button.unselectTag
                    strong #{this}
        each all_job_tags
            .ui.compact.basic.button.selectTag(class=cloud_tag_class) #{this.name}
                small #{this.count}
        .ui.hidden.fitted.divider
        
template(name='view_job')
    .ui.segment
        .ui.header #{title}
        .description #{description}
        .location #{location}
        .meta #{field}
        .meta #{applicant_inclusion}

template(name='edit_job')
    .ui.segment
        .ui.form
            .field
                label Title
                input(type='text' name='title' placeholder='Title')
            .inline.fields
                label Type of Job
                .field
                    .ui.radio.checkbox
                        input.hidden(type='radio', name='type', tabindex='0')
                        label Contract or Freelance
                .field
                    .ui.radio.checkbox
                        input.hidden(type='radio', name='type', tabindex='0')
                        label Part-time
                .field
                    .ui.radio.checkbox
                        input.hidden(type='radio', name='type', tabindex='0')
                        label Full-time
                .field
                    .ui.radio.checkbox
                        input.hidden(type='radio', name='type', tabindex='0')
                        label Internship
            .field
                label Description
                textarea(rows='5')
            .field
                label Location
                .ui.selection.dropdown
                    input(type='hidden', name='gender')
                    i.dropdown.icon
                    .default.text Location
                    .menu
                        .item(data-value='0') Work from anywhere
                        .item(data-value='1') Work locally, remote okay
                        .item(data-value='2') In-house
            .field
                label Field of Work
                .ui.selection.dropdown
                    input(type='hidden', name='gender')
                    i.dropdown.icon
                    .default.text Field of Work
                    .menu
                        .item(data-value='0') n/a
                        .item(data-value='1') Accounting
                        .item(data-value='2') Advertising
                        .item(data-value='2') Branding & Identity
                        .item(data-value='2') Business Development
            .inline.fields
                label Would you like applicants to include any of the following?
                .field
                    .ui.radio.checkbox
                        input.hidden(type='radio', name='inclusion', tabindex='0')
                        label Quote
                .field
                    .ui.radio.checkbox
                        input.hidden(type='radio', name='inclusion', tabindex='0')
                        label Estimated timeline
                .field
                    .ui.radio.checkbox
                        input.hidden(type='radio', name='inclusion', tabindex='0')
                        label Relevant experience
            .field
                .ui.header Tags
                each tags
                    .ui.basic.button.docTag
                        i.minus.icon
                        |#{this}
                .ui.left.icon.input
                    i.add.icon
                    input#add_tag(type='text' autofocus='' placeholder='Add Tag' maxlength='50')
            #delete.ui.red.compact.button
                i.remove.icon
                |Delete
            if tags
                #saveDoc.ui.large.green.button
                    i.check.icon
                    |Save
